{% extends 'main/base.html' %}

{% block content %}
    <section class="article-details">
        <h1>{{ article.title }}</h1>
        <h2>Created At: {{ article.createdAt }}</h2>

        <div class="authors">
            {% for author in article.author.all %}
            <h3><a href="{% url 'author' author.id %}">{{ author }}</a></h3>
            {% endfor %}
        </div>

        <p>{{ article.content }}</p>
    </section>

    <div class="actions">
        <a class="btn" href="{% url 'edit_article' article.id %}">Edit this Article</a>
    </div>
{% endblock %}
